# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.cache

# Logs and debugging
results*/
tokens_notes/
quant/

base_*/
fine_tuned_*/
unlearn_*/
recovery_*/
pretrain_*/

archive_logs/

# datasets
datasets/

# models
llm_models/
tokens_notes/

#key
saved_hf_key.py

#sh
csv.sh