# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Logs and debugging
results*/
tokens_notes/
quant/

base_*/
fine_tuned_*/
unlearn_*/
recovery_*/

archive_logs/

# datasets
# datasets archived/

# models
llm_models/
tokens_notes/

#key
saved_hf_key.py

#sh
csv.sh