# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Logs and debugging
results*/
tokens_notes/

base_llama_7b*/
fine_tuned_llama_7b*/
unlearn_llama_7b*/
recovery_llama_7b*/

base_deepseek_7b*/
fine_tuned_deepseek_7b*/
unlearn_deepseek_7b*/
recovery_deepseek_7b*/

# datasets
# datasets archived/

# models
llm_models/

#key
saved_hf_key.py

#sh
csv.sh